body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    min-height: 100%; 
}

body {
    padding-bottom: 13%;
    box-sizing: border-box;
}

#container-main {
    position: relative; 
    min-height: 100vh; 
    box-sizing: border-box;
}

#containerHeader {
    border-bottom: 0.15vw solid #0067B8;
    display: flex;
    width: 100%;
    height: 3.3vw;
    position: relative;
    top: 0px;
    left: 0px;
    align-items: center;
    z-index: 1;
    bottom: color(rgb(0, 0, 0));
}

#containerHeader a {
    text-decoration: none;
    background:
    linear-gradient(
      to right,
      rgb(0, 0, 0, 0),
      rgb(0, 0, 0, 0)
    ),
    linear-gradient(
      to right,
      #0067B8,
      #0067B8,
      #0067B8
  );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

#containerHeader a:hover {
    background-size: 0 2px, 100% 2px;
}

#containerHeader #logo a {
    text-decoration: none;
    background-size: 100% 2px, 0 2px;
}

#logo {
    height: fit-content;
    width: fit-content;
    margin-left: 1%;
}

#logo img {
    height: fit-content;
    width: 8.5vw;
    padding-left: 1vw;
    border-left: 2px #0c3977d0 solid;
}

#scrollImagens {
    position: relative;
    left: 0;
    width: 100%;
    height: 23vw;
    align-items: center;
    align-content: center;
    background-color: #0067B8;
}

#scrollImagens img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#scrollImagens #textoPropaganda {
    position: absolute;
    width: 37%;
    height: 100%;
    left: 3%;
    top: 13%;
    padding-top: 3%;
    padding-left: 50px;
    margin: 0;
    text-align: left;
    letter-spacing: -1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 120%;
}

#textoPropaganda button {
    border-radius: 0.7vw;
    background-color: #006aff9f;
    width: 25%;
}

#descricaoPropaganda {
    font-size: 0.9vw;
    line-height: 140%;
    font-weight: 450;
    letter-spacing: 0px;
}

#menu-icon i {
    font-size: 1vw;
    color: #0C3877;
}
#menu-icon:hover {
    font-size: 1vw;
    animation: esmaecer 0.8 forwards;
    background-color: #aaaaaa94;
}

#menu-icon {
    display: flex;
    height: 100%;
    width: 4%;
    justify-content: center;
    align-items: center;
    margin-left: -0.1vw;
}

#mecanica {
    margin-left: 2vw;
    width: 7vw;
}

#pesquisar {
    margin-left: 1vw;
    width: 4vw;
}

#sobre-nos {
    margin-left: 1vw;
    width: 4vw;
}

#entrar {
    display: flex;
    margin-left: 60vw;
    width: 6vw;
    justify-content: center;
    align-items: center;
}

#entrar i {
    margin-left: 0.6vw;
    font-size: 1.4vw;
}

#pesquisar-caixa {
    width: 70vw;
    margin-left: 1vw;
}

#pesquisar-caixa input {
    width: 70vw;
    margin-left: 1vw;
    height: 2vw;
    font-size: 0.75vw;
    height: 2vw;
    padding-left: 0.3vw ;
    border: solid 0.14vw #0067B8;
}

#pesquisar-caixa input::placeholder {
    font-style: italic;
    font-family: verdana;
    font-size: 0.7vw;
}
#pesquisar-caixa button {
    width: 5vw;
    font-size: 0.7vw;
    margin-left: 0.2vw;
    background-color: white;
    border: solid 0.1vw black;
}

#carrinho i {
    margin-right: 0.3vw;
    font-size: 0.9vw;
}

#containerHeader a {
    font-size: 0.83vw;
    color: black;
    font-weight: 400;
}

#devices {
    position: absolute;
}
#cookie-banner {
    position: fixed;
    height: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    color: black;
    display: flex;
    font-family: Segoe UI, SegoeUI, Arial, sans-serif;
    align-items: center;
    z-index: 1;
}

#cookie-banner #buttons-cookies button {
    color: #1460ca;
    border: 2px solid #0067B8;
    box-shadow: none;
    width: 9vw;
    height: 2vw;
    font-size: 0.9vw;
}

#buttons-cookies {
    width: 30%;
    display: flex;
    gap: 3%;
    margin-right: 0;
    justify-content: center;
}
#content-cookies button {
    width: 35%;
    height: 37px;
}

#content-cookies {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    justify-content: space-between;
    margin-right: 5% ;
    margin-left: 5%;
}

#span-cookies {
    font-size: 0.86vw;
    width: 70%;
    word-spacing: -1px;
}

#close-button {
    margin-bottom: 5vw;
    margin-right: 5vw;
    border: none;
    height: 0.4vw;
    width: 0.2vw;
    cursor: pointer;
    font-size: 0.9vw;
}

#span-cookies span {
    font-weight: 400;
}

#span-cookies p {
    margin: 0;
    font-weight: 600;
}

#icon-cookie {
    margin-bottom: 3.1vw;
    margin-right: 0.6vw;
}

#cookie-banner #buttons-cookies #accept-cookies:hover {
    background: #0067B8;
    animation: esmaecer 0.5s forwards;
    color: rgb(255, 255, 255);
}

#reject-cookies:hover {
    background-color: #0067B8;
    animation: esmaecer 0.5s forwards;
    color: rgb(255, 255, 255);
}

#cookie-banner #buttons-cookies #reject-cookies:hover {
    background-color: #0067B8;
    animation: esmaecer 0.5s forwards;
    color: rgb(255, 255, 255);
}

@keyframes esmaecer {
    from {
        opacity: 0; /* Opacidade inicial */
    }
    to {
        opacity: 1; /* Opacidade final */
    }
}

#btn-saibamais:hover {
    background-color: #006aff;
    animation: esmaecer 0.9 forwards;
    border-radius: 0.9vw;
}

#btn-saibamais {
    width: 0.6vw;
    height: 2.3vw;
    font-size: 0.8vw;
}

#cookie-banner i {
    font-size: 180%;
    margin-bottom: 5%;
    margin-top: 1%;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in-active {
    opacity: 1;
}

#footer-index {
    display: flex;
    position: relative;
    width: 100%;
    height: 7vw;
    bottom: 0;
    left: 0;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    text-align: left;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8vw;
}

#lista-footer {
    margin-top: 0.4%;
    list-style: none;
    width: 20%;
}

#lista-footer li {
    margin-bottom: 0.4vw;
    font-weight: 400;
    color: rgb(88, 88, 88)
}

#lista-footer li:hover {
    text-decoration: underline;
}

#lista-footer b {
    font-size: 0.9vw;
    color: rgb(54, 54, 54);
    font-weight: 500;
    margin-top: 2%
}

#idioma-spin a {
    text-decoration: none;
    color: black;
    display: flex;
    margin-top: 0.4vw;
}

#idioma-spin {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.gtranslate_wrapper {
    display: flex; 
    gap: 0.4vw;
}

.gtranslate_wrapper img {
    margin-right: 10vw;
    width: 1vw;
    height: 1vw;
}

#container-vazio {
    margin-top: 10vw;
    position: relative;
    width: 100%;
    height: 28vw;
}

#container-celular {
    display: flex;
    position: relative;
    width: 100%;
    height: 28vw;
    justify-content: center;
    background-image: url(img/bannerFundo\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 120vw;
    background-position: 0 0.5vw;
    margin-top: 2vw;
}

#container-celular img {
    height: 100%;
    width: 100%;
}

#conteudo-celular {
    display: flex;
    position: absolute;
    height: 90%;
    width: 50%;
    z-index: 1;
    height: fit-content;
    margin-top: 4vw;
    color: white;
    margin-left: 10vw;
}

#conteudo-celular h2 {
    font-size: 3vw;
    font-weight: 1000;
    margin-top: 4vw;
    margin-left: 1vw;
}

#texto-celular {
    position: absolute;
    width: 100%;
    height: fit-content;
    margin-left: 12vw;
}

#conteudo-celular p {
    margin-left: 1vw;
    margin-top: 1vw;
    width: 60%;
    font-weight: 400;
    font-size: 1vw;
}

#conteudo-celular img {
    height: 20vw;
    width: 12vw;
}

#botoes-app {
    display: flex;
    margin-left: 1vw;
    gap: 1vw;
}

#botoes-app img {
    width: 10vw;
    height: 3vw;
}

#pop-conectar {
    display: flex;
    position: fixed;
    height: 3vw;
    width: 26vw;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgb(44, 44, 44);
    margin-left: 73%;
    margin-top: -17vw;
    color: white;
    border-radius: 0.5vw;
}

#pop-conectar-mensagem {
    display: flex;
    position: fixed;
    height: 3vw;
    width: 3.3vw;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgb(44, 44, 44);
    margin-left: 95.8%;
    margin-top: -13vw;
    border-radius: 0.5vw;
    cursor: pointer;
}

#pop-conectar-mensagem i {
    font-size: 1.1vw;
}

#div-clique {
    display: flex;
    position: fixed;
    gap: 0.6vw;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 1.9vw;
    cursor: pointer;
}

#pop-conectar p{
    margin-top: 0.8vw;
    font-size: 0.85vw;
}

#close-conectar {
    font-size: 1.2vw;
    color: white;
    z-index: 1;
    margin-left: 23.7vw;
    cursor: pointer;
}

#icon-mensagem {
    color: #0091ff;
    font-size: 1.2vw;
}

.escondido {
    display: none;
}

.visivel {
    display: block;
}

#chat-bot-aba {
    position: fixed;
    height: 34vw;
    width: 21vw;
    margin-top: -40.5vw;
    margin-left: 77vw;
    background-color: white;
    border-radius: 1vw;
    z-index: 1;
}

#chat-bot-header {
    width: 100%;
    padding-left: 0.7vw;
    padding-top: 0.5vw;
    border-top-left-radius: 0.8vw;
    border-top-right-radius: 1vw;
    height: 3.3vw;
    background-color: #353535;
    margin-bottom: 0;
    border-bottom: solid #0067B8 0.3vw;
}

#chat-bot-header h2 {
    font-size: 1vw;
    color: white;
    margin-bottom: -0.2vw;
    width: 80%;
}

#representantes-texto {
    width: 80%;
    display: flex;
    height: 0.8vw;
    font-size: 0.7vw;
    color: white;
}

#representantes-texto i {
    margin-right: 0.3vw;
}

#h2-chatbot {
    width: 100%;
    display: flex;
    margin-bottom: -0.55vw;
}

#h2-chatbot i {
    font-size: 1.5vw;
    z-index: 1;
    margin-top: -0.5vw;
    margin-left: 2vw;
    color: white;
}

#chatbot-mensagem {
    width: 100%;
    height: 90%;
    padding: 0.8vw;
}

#chatbot-manutenção {
    height: 6.4vw;
    background-color: #ceeaff;
    border-radius: 0.5vw;
    padding: 1vw;
    font-size: 0.73vw;
    line-height: 1.1vw;
    font-family: verdana;
}

#btn-sair-chatbot {
    cursor: pointer;
}

#chatbot-mandarMensagem {
    width: 100%;
    height: 3vw;
    margin-top: -2.9vw;
    border-top: solid rgb(201, 201, 201) 0.1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 0.8vw;
    padding: 0.6vw;
}

#enviar-mensagem {
    display: flex;
    background-color: #f0f0f0 ;
    height: 1.8vw;
    align-items: center;
    border-radius: 0.5vw;
}

#enviar-mensagem p {
    margin-top: 1vw;
    align-items: center;
    margin-left: 1vw;
    font-family: verdana;
    font-style: italic;
    font-size: 0.7vw;
}

#enviar-mensagem i {
    margin-left: 8vw;
    font-size: 1vw;
}