<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.prototipo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_nuvemskysync"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".adicionarVeiculos.AddVeiculos"
            android:exported="false" />
        <activity
            android:name=".formservicos.FormServicos"
            android:exported="false" />
        <activity
            android:name=".formorcamentos.FormOrcamentos"
            android:exported="false" />
        <activity
            android:name=".formconta.FormConta"
            android:exported="false" />
        <activity
            android:name=".formconsultar.FormConsultar"
            android:exported="false" />
        <activity
            android:name=".formveiculos.FormVeiculos"
            android:exported="false" />
        <activity
            android:name=".formagendar.FormAgendar"
            android:exported="true" />
        <activity
            android:name=".formmenu.FormMenu"
            android:exported="true" />
        <activity
            android:name=".formlogin.FormLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>